/node_modules
.env
test-database.sqlite
PATCHES_TWITCH.md
/logs
src/cache/connectedAccounts.json
accounts.sqlite
src/jobs/leaderboardCache.json
src/jobs/wtLeaderboardCache.json
src/jobs/WTrankCache.json
.env.example
.env.development
.env.production
src/util/eventSubManager.ts.bak
paidTwitchAccountService.md
/twitch-api-playground
